<% provide(:title,'Help') %>
<h1>Help Me!</h1>
    <p>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
    <p>This home page will pas the test!! </p>
    <p>Find me in app/views/static_pages/help.html.erb</p>
    <p>Help Me! :)</p>